 /* Try to keep styling in separate css files

button {
    font-size: 16px;
    background-color: green;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

button.reset {
    width: 200px;
    background-color: red;
}

.count {
    font-size: 50px;
    padding: 15px 30px;
}

body {
    padding: 30px 30px;
} */
